<settings>
    <setting id="downloads" value="" />
    <setting id="fanart" value="true" />
    <setting id="meta" value="true" />
    <setting id="movie_library" value="/storage/videos/" />
    <setting id="quality" value="true" />
    <setting id="subs" value="0" />
    <setting id="subscriptions_clean" value="true" />
    <setting id="subscriptions_interval" value="3" />
    <setting id="subscriptions_run" value="2013-12-09 22:05:49.424307" />
    <setting id="subscriptions_update" value="true" />
    <setting id="subscriptions_updatelibrary" value="true" />
    <setting id="tv_library" value="/storage/tvshows/" />
</settings>
