<settings>
    <setting id="downloads" value="/storage/downloads/" />
    <setting id="fanart" value="true" />
    <setting id="meta" value="true" />
    <setting id="movie_library" value="/storage/videos/" />
    <setting id="quality" value="true" />
    <setting id="subs" value="0" />
    <setting id="subscriptions_clean" value="true" />
    <setting id="subscriptions_interval" value="2" />
    <setting id="subscriptions_run" value="2014-01-06 18:25:26.268506" />
    <setting id="subscriptions_update" value="true" />
    <setting id="subscriptions_updatelibrary" value="true" />
    <setting id="tv_library" value="/storage/tvshows/" />
</settings>
