<settings>
    <setting id="BackgroundFanart" value="False" />
    <setting id="PreviewThumbs" value="False" />
    <setting id="ReScan" value="" />
    <setting id="auto-view" value="false" />
    <setting id="buffer-delay" value="10" />
    <setting id="default-view" value="50" />
    <setting id="delete-incomplete-downloads" value="true" />
    <setting id="display-show-eps" value="true" />
    <setting id="download-folder" value="" />
    <setting id="download-in-background" value="true" />
    <setting id="episodes-view" value="504" />
    <setting id="flatten-single-season" value="true" />
    <setting id="flatten-source-type" value="true" />
    <setting id="hide-homepage" value="false" />
    <setting id="hide-successful-login-messages" value="false" />
    <setting id="icefilms-url" value="http://www.icefilms.info/" />
    <setting id="meta-path" value="" />
    <setting id="movie-covers" value="true" />
    <setting id="movie-fanart" value="true" />
    <setting id="movies-view" value="503" />
    <setting id="movreel-account" value="false" />
    <setting id="movreel-password" value="" />
    <setting id="movreel-username" value="" />
    <setting id="next-aired" value="false" />
    <setting id="notify-percent" value="2" />
    <setting id="play-action" value="Watch Stream" />
    <setting id="realdebrid-account" value="false" />
    <setting id="realdebrid-password" value="" />
    <setting id="realdebrid-username" value="" />
    <setting id="search-results" value="25" />
    <setting id="seasons-view" value="504" />
    <setting id="sharebees-account" value="false" />
    <setting id="sharebees-password" value="" />
    <setting id="sharebees-username" value="" />
    <setting id="stack-multi-part" value="false" />
    <setting id="tv-covers" value="true" />
    <setting id="tv-fanart" value="true" />
    <setting id="tv-posters" value="false" />
    <setting id="tvshows-view" value="503" />
    <setting id="use-meta" value="true" />
    <setting id="use-special-structure" value="true" />
    <setting id="video-seeking" value="false" />
    <setting id="watched-percent" value="2" />
</settings>
