<settings>
    <setting id="cacheupdate" value="24" />
    <setting id="debuglevel" value="0" />
    <setting id="downloadbackground" value="true" />
    <setting id="downloadpath" value="/storage/music/" />
    <setting id="enabledownloads" value="true" />
    <setting id="fanart" value="true" />
    <setting id="featured" value="false" />
    <setting id="format-aac" value="false" />
    <setting id="format-am" value="false" />
    <setting id="format-dab" value="false" />
    <setting id="format-flash" value="false" />
    <setting id="format-fm" value="false" />
    <setting id="format-hd" value="false" />
    <setting id="format-html" value="false" />
    <setting id="format-mp3" value="true" />
    <setting id="format-ogg" value="false" />
    <setting id="format-qt" value="false" />
    <setting id="format-real" value="false" />
    <setting id="format-sat" value="false" />
    <setting id="format-wma" value="true" />
    <setting id="format-wmpro" value="true" />
    <setting id="format-wmvideo" value="true" />
    <setting id="format-wmvoice" value="true" />
    <setting id="https" value="true" />
    <setting id="iconcolour" value="0" />
    <setting id="latlon" value="" />
    <setting id="local" value="true" />
    <setting id="locale" value="nl-NL" />
    <setting id="password" value="" />
    <setting id="prompt" value="false" />
    <setting id="recents" value="5" />
    <setting id="username" value="" />
</settings>
