<settings>
    <setting id="Argenteam" value="false" />
    <setting id="AsiaTeam" value="false" />
    <setting id="BetaSeries" value="true" />
    <setting id="Bierdopje" value="true" />
    <setting id="Divxplanet" value="false" />
    <setting id="Edna" value="false" />
    <setting id="GomTV" value="false" />
    <setting id="ITpass" value="" />
    <setting id="ITuser" value="" />
    <setting id="Itasa" value="false" />
    <setting id="LDivxpass" value="" />
    <setting id="LDivxuser" value="" />
    <setting id="LTVpass" value="" />
    <setting id="LTVuser" value="" />
    <setting id="LZpass" value="" />
    <setting id="LZuser" value="" />
    <setting id="Lang01" value="10" />
    <setting id="Lang02" value="11" />
    <setting id="Lang03" value="11" />
    <setting id="LegendasDivx" value="false" />
    <setting id="LegendasTV" value="false" />
    <setting id="LegendasZone" value="false" />
    <setting id="Napiprojekt" value="false" />
    <setting id="Napisy24_type" value="2" />
    <setting id="Napisy24pl" value="false" />
    <setting id="OmniSubs" value="false" />
    <setting id="Omnipass" value="" />
    <setting id="Omniuser" value="" />
    <setting id="Ondertitel" value="true" />
    <setting id="OpenSubtitles" value="true" />
    <setting id="PNpass" value="" />
    <setting id="PNuser" value="" />
    <setting id="PTSpass" value="" />
    <setting id="PTSubs" value="false" />
    <setting id="PTSuser" value="" />
    <setting id="Pipocas" value="false" />
    <setting id="Pipocaspass" value="" />
    <setting id="Pipocasuser" value="" />
    <setting id="Podnapisi" value="false" />
    <setting id="RegieLive" value="false" />
    <setting id="SerialZone" value="false" />
    <setting id="Shooter" value="false" />
    <setting id="Sratim" value="false" />
    <setting id="SubClub" value="false" />
    <setting id="SubDB" value="false" />
    <setting id="Subdivx" value="false" />
    <setting id="Sublight" value="false" />
    <setting id="Subs4Free" value="false" />
    <setting id="Subscene" value="true" />
    <setting id="Subscenter" value="false" />
    <setting id="SubtitlesGR" value="false" />
    <setting id="SubtitulosES" value="false" />
    <setting id="SuperSubtitles" value="false" />
    <setting id="Swesub" value="false" />
    <setting id="Titlovi" value="false" />
    <setting id="Titulky" value="false" />
    <setting id="Titulkypass" value="" />
    <setting id="Titulkyuser" value="" />
    <setting id="Torec" value="false" />
    <setting id="Undertexter" value="true" />
    <setting id="auto_download" value="true" />
    <setting id="auto_download_file" value="" />
    <setting id="defmovieservice" value="OpenSubtitles" />
    <setting id="deftvservice" value="Bierdopje" />
    <setting id="euTorrents" value="false" />
    <setting id="euTpass" value="" />
    <setting id="euTuser" value="" />
    <setting id="fil_name" value="true" />
    <setting id="lang_to_end" value="true" />
    <setting id="n24pass" value="" />
    <setting id="n24user" value="" />
    <setting id="par_folder" value="true" />
    <setting id="pause" value="true" />
    <setting id="search_next" value="false" />
    <setting id="searchstr" value="true" />
    <setting id="subfolder" value="true" />
    <setting id="subfolderpath" value="" />
    <setting id="timeout" value="6" />
    <setting id="use_subs_folder" value="false" />
</settings>
