<settings>
    <setting id="background_channels" value="xot_streaming_low.jpg" />
    <setting id="background_programs" value="xot_globe_low.jpg" />
    <setting id="channel_0C59FF4A-8E07-11E1-B2D2-8071BBE59B18_proxy" value="0" />
    <setting id="channel_0C59FF4A-8E07-11E1-B2D2-8071BBE59B18_visible" value="true" />
    <setting id="channel_15D92364-42F4-11DD-AF9B-7BFF55D89593_proxy" value="0" />
    <setting id="channel_15D92364-42F4-11DD-AF9B-7BFF55D89593_visible" value="false" />
    <setting id="channel_16A5C86D-52C5-48C1-B894-1CC23EBF1CD8_proxy" value="0" />
    <setting id="channel_16A5C86D-52C5-48C1-B894-1CC23EBF1CD8_visible" value="true" />
    <setting id="channel_1D6063B8-4BCF-11E0-AD8F-5533DFD72085_proxy" value="0" />
    <setting id="channel_1D6063B8-4BCF-11E0-AD8F-5533DFD72085_visible" value="true" />
    <setting id="channel_21D74788-8084-11E0-9A28-39E64824019B_proxy" value="0" />
    <setting id="channel_21D74788-8084-11E0-9A28-39E64824019B_visible" value="true" />
    <setting id="channel_28198F12-DE34-11E0-8523-C77F4824019B_proxy" value="0" />
    <setting id="channel_28198F12-DE34-11E0-8523-C77F4824019B_visible" value="true" />
    <setting id="channel_29D36E00-730B-11E2-AD39-B0F06188709B_proxy" value="0" />
    <setting id="channel_29D36E00-730B-11E2-AD39-B0F06188709B_visible" value="true" />
    <setting id="channel_341BFEA0-2312-11DF-B6B1-B7B256D89593_proxy" value="0" />
    <setting id="channel_341BFEA0-2312-11DF-B6B1-B7B256D89593_visible" value="true" />
    <setting id="channel_3AF9C61E-88B2-11E1-A03F-08F6BAE59B18_visible" value="true" />
    <setting id="channel_3D4C7F88-FAB8-11E1-868D-8CDA6088709B_proxy" value="0" />
    <setting id="channel_3D4C7F88-FAB8-11E1-868D-8CDA6088709B_visible" value="true" />
    <setting id="channel_45527F0C-91FE-11E1-942B-5AB5BBE59B18_visible" value="true" />
    <setting id="channel_47AA717E-F919-11E1-977F-0DEC6188709B_proxy" value="0" />
    <setting id="channel_47AA717E-F919-11E1-977F-0DEC6188709B_visible" value="true" />
    <setting id="channel_49A02D20-2283-11E0-8771-2AB7DFD72085_visible" value="true" />
    <setting id="channel_4DEB8C26-D294-11E2-B26C-71EC6088709B_proxy" value="0" />
    <setting id="channel_4DEB8C26-D294-11E2-B26C-71EC6088709B_visible" value="true" />
    <setting id="channel_52230AF6-FBA9-11DD-87D4-15B656D89593_proxy" value="0" />
    <setting id="channel_52230AF6-FBA9-11DD-87D4-15B656D89593_visible" value="true" />
    <setting id="channel_55635AAA-183C-11E2-ABEC-36706188709B_proxy" value="0" />
    <setting id="channel_55635AAA-183C-11E2-ABEC-36706188709B_visible" value="true" />
    <setting id="channel_60948038-60A4-11E2-B01B-8BE36188709B_proxy" value="0" />
    <setting id="channel_60948038-60A4-11E2-B01B-8BE36188709B_visible" value="true" />
    <setting id="channel_632E7568-DE34-11E0-A644-02804824019B_proxy" value="0" />
    <setting id="channel_632E7568-DE34-11E0-A644-02804824019B_visible" value="true" />
    <setting id="channel_658A5A36-60A4-11E2-A236-8CE36188709B_proxy" value="0" />
    <setting id="channel_658A5A36-60A4-11E2-A236-8CE36188709B_visible" value="true" />
    <setting id="channel_66756700-6255-4973-AFFB-A1DE4FAF8678_proxy" value="0" />
    <setting id="channel_66756700-6255-4973-AFFB-A1DE4FAF8678_visible" value="true" />
    <setting id="channel_67794EAE-DE34-11E0-B79B-11804824019B_proxy" value="0" />
    <setting id="channel_67794EAE-DE34-11E0-B79B-11804824019B_visible" value="true" />
    <setting id="channel_6B32718A-60A4-11E2-87B1-A6E36188709B_proxy" value="0" />
    <setting id="channel_6B32718A-60A4-11E2-87B1-A6E36188709B_visible" value="true" />
    <setting id="channel_6C7374A8-B6BA-11E0-A21E-1A434824019B_proxy" value="0" />
    <setting id="channel_6C7374A8-B6BA-11E0-A21E-1A434824019B_visible" value="true" />
    <setting id="channel_6C99A8FC-DE34-11E0-B40A-18804824019B_proxy" value="0" />
    <setting id="channel_6C99A8FC-DE34-11E0-B40A-18804824019B_visible" value="true" />
    <setting id="channel_71128378-B6BA-11E0-A68A-1B434824019B_proxy" value="0" />
    <setting id="channel_71128378-B6BA-11E0-A68A-1B434824019B_visible" value="true" />
    <setting id="channel_718219B2-DE34-11E0-94D7-37804824019B_proxy" value="0" />
    <setting id="channel_718219B2-DE34-11E0-94D7-37804824019B_visible" value="true" />
    <setting id="channel_724FD12C-DE34-11E0-9795-3B804824019B_proxy" value="0" />
    <setting id="channel_724FD12C-DE34-11E0-9795-3B804824019B_visible" value="true" />
    <setting id="channel_739E4322-E796-11E0-8604-1B2F4924019B_proxy" value="0" />
    <setting id="channel_739E4322-E796-11E0-8604-1B2F4924019B_visible" value="true" />
    <setting id="channel_743D04B2-42F3-11DD-84F5-6CEF55D89593_proxy" value="0" />
    <setting id="channel_743D04B2-42F3-11DD-84F5-6CEF55D89593_visible" value="true" />
    <setting id="channel_770D3385-2EC9-4B87-9BC8-3A7190248A9C_proxy" value="0" />
    <setting id="channel_770D3385-2EC9-4B87-9BC8-3A7190248A9C_visible" value="true" />
    <setting id="channel_79C799AE-B6BA-11E0-87FD-20434824019B_proxy" value="0" />
    <setting id="channel_79C799AE-B6BA-11E0-87FD-20434824019B_visible" value="true" />
    <setting id="channel_7C40EEE7-40F4-40ED-8A70-FAAB42B7A2B1_proxy" value="0" />
    <setting id="channel_7C40EEE7-40F4-40ED-8A70-FAAB42B7A2B1_visible" value="true" />
    <setting id="channel_7C52452A-F2F9-11DD-BE3F-3F7356D89593_proxy" value="0" />
    <setting id="channel_7C52452A-F2F9-11DD-BE3F-3F7356D89593_visible" value="true" />
    <setting id="channel_7FEDC7EA-2281-11E0-8F30-67B5DFD72085_visible" value="true" />
    <setting id="channel_80726A74-42F3-11DD-BBA6-A1F055D89593_proxy" value="0" />
    <setting id="channel_80726A74-42F3-11DD-BBA6-A1F055D89593_visible" value="true" />
    <setting id="channel_81CD5339-0D59-4019-9171-12A98815311C_proxy" value="0" />
    <setting id="channel_81CD5339-0D59-4019-9171-12A98815311C_visible" value="true" />
    <setting id="channel_870EAD32-F2F9-11DD-B0E7-747356D89593_proxy" value="0" />
    <setting id="channel_870EAD32-F2F9-11DD-B0E7-747356D89593_visible" value="true" />
    <setting id="channel_887F773F-E4E5-4E80-AD7D-65F627D1CA44_proxy" value="0" />
    <setting id="channel_887F773F-E4E5-4E80-AD7D-65F627D1CA44_visible" value="true" />
    <setting id="channel_89673FF0-5EF3-11E0-8CC9-494DDFD72085_visible" value="true" />
    <setting id="channel_8B4A56C7-44D5-40C2-A890-2287C4C1D74B_proxy" value="0" />
    <setting id="channel_8B4A56C7-44D5-40C2-A890-2287C4C1D74B_visible" value="true" />
    <setting id="channel_8BFC5538-FB78-11E2-9D7C-61DE6088709B_proxy" value="0" />
    <setting id="channel_8BFC5538-FB78-11E2-9D7C-61DE6088709B_visible" value="true" />
    <setting id="channel_8D1E5858-F926-11E1-BE1C-90F66188709B_proxy" value="0" />
    <setting id="channel_8D1E5858-F926-11E1-BE1C-90F66188709B_visible" value="true" />
    <setting id="channel_8D4EBAE8-F3C6-11DD-92EE-F2FE55D89593_proxy" value="0" />
    <setting id="channel_8D4EBAE8-F3C6-11DD-92EE-F2FE55D89593_visible" value="true" />
    <setting id="channel_8D9FBD00-2284-11E0-8957-55B8DFD72085_visible" value="true" />
    <setting id="channel_8FF7DE8A-DD6D-11E0-AF1F-A4FF4824019B_proxy" value="0" />
    <setting id="channel_8FF7DE8A-DD6D-11E0-AF1F-A4FF4824019B_visible" value="true" />
    <setting id="channel_90DD5C88-5EF3-11E0-93A2-4D4DDFD72085_visible" value="true" />
    <setting id="channel_98506F58-CD6F-11DE-99BA-187F55D89593_visible" value="true" />
    <setting id="channel_9AD5766A-BA08-11E0-BBC6-190D4824019B_proxy" value="0" />
    <setting id="channel_9AD5766A-BA08-11E0-BBC6-190D4824019B_visible" value="true" />
    <setting id="channel_9B43CA5A-42F3-11DD-9D91-B6F355D89593_proxy" value="0" />
    <setting id="channel_9B43CA5A-42F3-11DD-9D91-B6F355D89593_visible" value="true" />
    <setting id="channel_9EC8F612-2EA4-11DE-867C-B84656D89593_visible" value="true" />
    <setting id="channel_9F0F57D6-B897-11E0-AF2E-92314924019B_visible" value="true" />
    <setting id="channel_AF2B907D-D437-46DB-B802-F946850098FB_proxy" value="0" />
    <setting id="channel_AF2B907D-D437-46DB-B802-F946850098FB_visible" value="true" />
    <setting id="channel_B099990E-5749-44FC-A5C5-A40427A9A5C9_proxy" value="0" />
    <setting id="channel_B099990E-5749-44FC-A5C5-A40427A9A5C9_visible" value="true" />
    <setting id="channel_B2AF5744-4697-44CD-9A54-CFD6A4273207_proxy" value="0" />
    <setting id="channel_B2AF5744-4697-44CD-9A54-CFD6A4273207_visible" value="true" />
    <setting id="channel_B797D9BA-F06B-11E1-9CD5-9F7D6188709B_visible" value="true" />
    <setting id="channel_B7EB69DF-18C4-4935-BA83-0B2A89295178_proxy" value="0" />
    <setting id="channel_B7EB69DF-18C4-4935-BA83-0B2A89295178_visible" value="true" />
    <setting id="channel_BD113683-233A-46EB-962D-98B3C02EB738_proxy" value="0" />
    <setting id="channel_BD113683-233A-46EB-962D-98B3C02EB738_visible" value="true" />
    <setting id="channel_BDC1A5C5-2777-4D05-BB5B-742A88B89CC5_visible" value="true" />
    <setting id="channel_C2FB7F24-C5B5-11DF-A324-616DDFD72085_proxy" value="0" />
    <setting id="channel_C2FB7F24-C5B5-11DF-A324-616DDFD72085_visible" value="true" />
    <setting id="channel_C72D24F6-5FAE-11E0-9935-5F41E0D72085_visible" value="true" />
    <setting id="channel_C7962E5C-DE33-11E0-A9EE-1D7F4824019B_proxy" value="0" />
    <setting id="channel_C7962E5C-DE33-11E0-A9EE-1D7F4824019B_visible" value="true" />
    <setting id="channel_CB6B08F0-DD6A-11E0-B158-FFFB4824019B_proxy" value="0" />
    <setting id="channel_CB6B08F0-DD6A-11E0-B158-FFFB4824019B_visible" value="true" />
    <setting id="channel_CC524DC0-C846-11E0-871B-984F4824019B_proxy" value="0" />
    <setting id="channel_CC524DC0-C846-11E0-871B-984F4824019B_visible" value="true" />
    <setting id="channel_CE108D08-5FAE-11E0-B2D0-6141E0D72085_visible" value="true" />
    <setting id="channel_DA1992AE-B600-11E0-AC62-B3D74824019B_proxy" value="0" />
    <setting id="channel_DA1992AE-B600-11E0-AC62-B3D74824019B_visible" value="true" />
    <setting id="channel_DB6A5104-30B0-11E1-A995-AF324924019B_proxy" value="0" />
    <setting id="channel_DB6A5104-30B0-11E1-A995-AF324924019B_visible" value="true" />
    <setting id="channel_DE960970-70D3-11DF-B47C-FC51DFD72085_proxy" value="0" />
    <setting id="channel_DE960970-70D3-11DF-B47C-FC51DFD72085_visible" value="true" />
    <setting id="channel_DEB79882-DE33-11E0-94A4-267F4824019B_proxy" value="0" />
    <setting id="channel_DEB79882-DE33-11E0-94A4-267F4824019B_visible" value="true" />
    <setting id="channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_proxy" value="0" />
    <setting id="channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_visible" value="true" />
    <setting id="channel_EE33E7EC-FDAB-11E0-AA09-1EED4724019B_proxy" value="0" />
    <setting id="channel_EE33E7EC-FDAB-11E0-AA09-1EED4724019B_visible" value="true" />
    <setting id="channel_EF46E726-92F4-42FC-A6D4-68A888E23E96_proxy" value="0" />
    <setting id="channel_EF46E726-92F4-42FC-A6D4-68A888E23E96_visible" value="true" />
    <setting id="channel_EFE57022-9F52-41F9-8775-13CCD001FA56_proxy" value="0" />
    <setting id="channel_EFE57022-9F52-41F9-8775-13CCD001FA56_visible" value="true" />
    <setting id="channel_F56E3AF0-2D9C-11E1-8F76-94484824019B_proxy" value="0" />
    <setting id="channel_F56E3AF0-2D9C-11E1-8F76-94484824019B_visible" value="true" />
    <setting id="channel_F67D4C1A-2D9C-11E1-8D9C-98484824019B_proxy" value="0" />
    <setting id="channel_F67D4C1A-2D9C-11E1-8D9C-98484824019B_visible" value="true" />
    <setting id="channel_FB34E1F0-2930-11DE-A339-255856D89593_visible" value="true" />
    <setting id="folder_prefix" value="" />
    <setting id="hide_geolocked" value="false" />
    <setting id="http_cache" value="true" />
    <setting id="log_level" value="2" />
    <setting id="nl_proxy_password" value="" />
    <setting id="nl_proxy_port" value="8080" />
    <setting id="nl_proxy_server" value="" />
    <setting id="nl_proxy_username" value="" />
    <setting id="number_of_first_pages" value="5" />
    <setting id="other_proxy_password" value="" />
    <setting id="other_proxy_port" value="8080" />
    <setting id="other_proxy_server" value="" />
    <setting id="other_proxy_username" value="" />
    <setting id="se_proxy_password" value="" />
    <setting id="se_proxy_port" value="8080" />
    <setting id="se_proxy_server" value="" />
    <setting id="se_proxy_username" value="" />
    <setting id="send_statistics" value="false" />
    <setting id="show_belgium" value="false" />
    <setting id="show_categories" value="false" />
    <setting id="show_dutch" value="true" />
    <setting id="show_engb" value="false" />
    <setting id="show_estonia" value="false" />
    <setting id="show_german" value="false" />
    <setting id="show_latvian" value="false" />
    <setting id="show_lithuanian" value="false" />
    <setting id="show_norwegian" value="false" />
    <setting id="show_other" value="false" />
    <setting id="show_swedish" value="false" />
    <setting id="sorting_algorithm" value="1" />
    <setting id="stream_bitrate" value="1500" />
    <setting id="subtitle_mode" value="0" />
    <setting id="uk_proxy_password" value="" />
    <setting id="uk_proxy_port" value="8080" />
    <setting id="uk_proxy_server" value="" />
    <setting id="uk_proxy_username" value="" />
    <setting id="uzg_cache" value="0" />
    <setting id="uzg_cache_path" value="" />
</settings>
