<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- more info in GUIDialogAddonSettings -->
<settings>    
    <category label="30009">
       <!--setting id="stream_quality" type="enum" label="30000" lvalues="30001|30002|30003" default="2"/-->
       <setting id="stream_bitrate" type="select" label="30020" default="1500" values="100|250|500|750|1000|1500|2000|2500|4000|8000" />
       <setting id="number_of_first_pages" type="select" label="30004" values="1|2|3|4|5|10|15|20|25" default="5"/>
       <setting id="sorting_algorithm" type="enum" label="30016" lvalues="30017|30018|30025" default="0" />
       <!--setting id="dim_background" type="select" label="30019" values="0|25|50|75|100" default="0" /-->
       <setting id="subtitle_mode" type="enum" label="30021" lvalues="30022|30023" default="0" />
       <!--setting id="plugin_mode" type="bool" label="30026" default="true" /-->
       <setting id="folder_prefix" type="text" label="30043" default="" />
       <setting id="hide_geolocked" type="bool" label="30046" default="false" />
       <setting id="http_cache" type="bool" label="30031" default="true" />
       <setting id="send_statistics" type="bool" label="30052" default="true" />
       <setting id="log_level" type="enum" label="30048" values="Trace|Debug|Info" default="2" />
    </category>
    
    <!-- start of channel selection -->
    <category label="30040">
        <setting type="lsep" label="30012" />
        <setting id="show_other" type="bool" label="30042" default="true" />
        <setting type="sep" />
        <setting id="channel_887F773F-E4E5-4E80-AD7D-65F627D1CA44_visible" type="bool" label="- Apple Movie Trailers" default="true" visible="eq(-2,True)" />
        <setting id="channel_21D74788-8084-11E0-9A28-39E64824019B_visible" type="bool" label="- MSDN Channel 9" default="true" visible="eq(-3,True)" />
        <setting id="channel_52230AF6-FBA9-11DD-87D4-15B656D89593_visible" type="bool" label="- Extreme.com" default="true" visible="eq(-4,True)" />
        <setting type="lsep" label="30024" />
        <setting id="show_belgium" type="bool" label="30042" default="true" />
        <setting type="sep" />
        <setting id="channel_16A5C86D-52C5-48C1-B894-1CC23EBF1CD8_visible" type="bool" label="- E&#233;n" default="true" visible="eq(-2,True)" />
        <setting id="channel_DA1992AE-B600-11E0-AC62-B3D74824019B_visible" type="bool" label="- Canvas" default="true" visible="eq(-3,True)" />
        <setting id="channel_79C799AE-B6BA-11E0-87FD-20434824019B_visible" type="bool" label="- De Redactie" default="true" visible="eq(-4,True)" />
        <setting id="channel_66756700-6255-4973-AFFB-A1DE4FAF8678_visible" type="bool" label="- VTM Nieuws" default="true" visible="eq(-5,True)" />
        <setting id="channel_71128378-B6BA-11E0-A68A-1B434824019B_visible" type="bool" label="- Sporza" default="true" visible="eq(-6,True)" />
        <setting id="channel_6C7374A8-B6BA-11E0-A21E-1A434824019B_visible" type="bool" label="- Cobra" default="true" visible="eq(-7,True)" />
        <setting type="lsep" label="30047" />
        <setting id="show_german" type="bool" label="30042" default="true" />
        <setting type="sep" />
        <setting id="channel_55635AAA-183C-11E2-ABEC-36706188709B_visible" type="bool" label="- MTV.de" default="true" visible="eq(-2,True)" />
        <setting type="lsep" label="30027" />
        <setting id="show_engb" type="bool" label="30042" default="true" />
        <setting type="sep" />
        <setting id="channel_CB6B08F0-DD6A-11E0-B158-FFFB4824019B_visible" type="bool" label="- BBC One" default="true" visible="eq(-2,True)" />
        <setting id="channel_8FF7DE8A-DD6D-11E0-AF1F-A4FF4824019B_visible" type="bool" label="- BBC Two" default="true" visible="eq(-3,True)" />
        <setting id="channel_C7962E5C-DE33-11E0-A9EE-1D7F4824019B_visible" type="bool" label="- BBC Three" default="true" visible="eq(-4,True)" />
        <setting id="channel_DEB79882-DE33-11E0-94A4-267F4824019B_visible" type="bool" label="- BBC Four" default="true" visible="eq(-5,True)" />
        <setting id="channel_28198F12-DE34-11E0-8523-C77F4824019B_visible" type="bool" label="- CBBC" default="true" visible="eq(-6,True)" />
        <setting id="channel_632E7568-DE34-11E0-A644-02804824019B_visible" type="bool" label="- CBeebies" default="true" visible="eq(-7,True)" />
        <setting id="channel_67794EAE-DE34-11E0-B79B-11804824019B_visible" type="bool" label="- BBC HD" default="true" visible="eq(-8,True)" />
        <setting id="channel_6C99A8FC-DE34-11E0-B40A-18804824019B_visible" type="bool" label="- BBC News Channel" default="true" visible="eq(-9,True)" />
        <setting id="channel_724FD12C-DE34-11E0-9795-3B804824019B_visible" type="bool" label="- BBC Parliament" default="true" visible="eq(-10,True)" />
        <setting id="channel_718219B2-DE34-11E0-94D7-37804824019B_visible" type="bool" label="- BBC Alba" default="true" visible="eq(-11,True)" />
        <setting id="channel_739E4322-E796-11E0-8604-1B2F4924019B_visible" type="bool" label="- BBC iPlayer Search" default="true" visible="eq(-12,True)" />
        <setting type="lsep" label="30005" />
        <setting id="show_dutch" type="bool" label="30042" default="true" />
        <setting type="sep" />
        <setting id="channel_C2FB7F24-C5B5-11DF-A324-616DDFD72085_visible" type="bool" label="- Uitzendinggemist.nl" default="true" visible="eq(-2,True)" />
        <setting id="channel_ED8FDB9C-3870-11E2-B1C2-192A6288709B_visible" type="bool" label="- Uitzendinggemist.nl Mobile" default="true" visible="eq(-3,True)" />
        <setting id="channel_15D92364-42F4-11DD-AF9B-7BFF55D89593_visible" type="bool" label="- RTL 4,5,7 &amp; 8" default="true" visible="eq(-4,True)" />
        <setting id="channel_DE960970-70D3-11DF-B47C-FC51DFD72085_visible" type="bool" label="- iRTL 4,5,7 &amp; 8" default="true" visible="eq(-5,True)" />
        <setting id="channel_658A5A36-60A4-11E2-A236-8CE36188709B_visible" type="bool" label="- Net 5" default="true" visible="eq(-6,True)" />
        <setting id="channel_60948038-60A4-11E2-B01B-8BE36188709B_visible" type="bool" label="- SBS 6" default="true" visible="eq(-7,True)" />
        <setting id="channel_6B32718A-60A4-11E2-87B1-A6E36188709B_visible" type="bool" label="- Veronica" default="true" visible="eq(-8,True)" />
        <setting id="channel_7C52452A-F2F9-11DD-BE3F-3F7356D89593_visible" type="bool" label="- MTV.nl" default="true" visible="eq(-9,True)" />
        <setting id="channel_341BFEA0-2312-11DF-B6B1-B7B256D89593_visible" type="bool" label="- RadionNL" default="true" visible="eq(-10,True)" />
        <setting id="channel_1D6063B8-4BCF-11E0-AD8F-5533DFD72085_visible" type="bool" label="- TV.NL" default="true" visible="eq(-11,True)" />
        <setting id="channel_F56E3AF0-2D9C-11E1-8F76-94484824019B_visible" type="bool" label="- Z@pp" default="true" visible="eq(-12,True)" />
        <setting id="channel_F67D4C1A-2D9C-11E1-8D9C-98484824019B_visible" type="bool" label="- Z@ppelin" default="true" visible="eq(-13,True)" />
        <setting id="channel_8D4EBAE8-F3C6-11DD-92EE-F2FE55D89593_visible" type="bool" label="- Nickelodeon" default="true" visible="eq(-14,True)" />
        <setting id="channel_9AD5766A-BA08-11E0-BBC6-190D4824019B_visible" type="bool" label="- Nick Jr." default="true" visible="eq(-15,True)" />
        <setting id="channel_870EAD32-F2F9-11DD-B0E7-747356D89593_visible" type="bool" label="- AT5" default="true" visible="eq(-16,True)" />
        <setting id="channel_B797D9BA-F06B-11E1-9CD5-9F7D6188709B_visible" type="bool" label="- Omroep Gelderland" default="true" visible="eq(-17,True)" />
        <setting id="channel_29D36E00-730B-11E2-AD39-B0F06188709B_visible" type="bool" label="- L1" default="true" visible="eq(-18,True)" />
        <setting id="channel_EE33E7EC-FDAB-11E0-AA09-1EED4724019B_visible" type="bool" label="- NOS.nl" default="true" visible="eq(-19,True)" />
        <setting id="channel_4DEB8C26-D294-11E2-B26C-71EC6088709B_visible" type="bool" label="- NPO.nl Live" default="true" visible="eq(-20,True)" />
        <setting id="channel_CC524DC0-C846-11E0-871B-984F4824019B_visible" type="bool" label="- Eredivisie Live" default="true" visible="eq(-21,True)" />
        <setting id="channel_0C59FF4A-8E07-11E1-B2D2-8071BBE59B18_visible" type="bool" label="- Radio 538" default="true" visible="eq(-22,True)" />
        <setting id="channel_3D4C7F88-FAB8-11E1-868D-8CDA6088709B_visible" type="bool" label="- Pathé Nederland" default="true" visible="eq(-23,True)" />
        <setting id="channel_9B43CA5A-42F3-11DD-9D91-B6F355D89593_visible" type="bool" label="- De Lama's" default="true" visible="eq(-24,True)" />
        <setting id="channel_743D04B2-42F3-11DD-84F5-6CEF55D89593_visible" type="bool" label="- 123Video.nl" default="true" visible="eq(-25,True)" />
        <setting id="channel_80726A74-42F3-11DD-BBA6-A1F055D89593_visible" type="bool" label="- Dumpert.nl" default="true" visible="eq(-26,True)" />
        <setting id="channel_DB6A5104-30B0-11E1-A995-AF324924019B_visible" type="bool" label="- Hardware.info" default="true" visible="eq(-27,True)" />
        <setting type="lsep" label="30015" />
        <setting id="show_norwegian" type="bool" label="30042" default="true" />
        <setting type="sep" />
        <setting id="channel_47AA717E-F919-11E1-977F-0DEC6188709B_visible" type="bool" label="- Nickelodeon (Norge)" default="true" visible="eq(-2,True)" />
        <setting type="lsep" label="30006" />
        <setting id="show_swedish" type="bool" label="30042" default="true" />
        <setting type="sep" />
        <setting id="channel_8D1E5858-F926-11E1-BE1C-90F66188709B_visible" type="bool" label="- Nickelodeon (Sverige)" default="true" visible="eq(-2,True)" />
    </category>
    <!-- end of channel selection -->
    
    <category label="30028">     
       <setting type="lsep" label="30037" />
       <setting id="uk_proxy_server" type="text" label="30029" default="" />
       <setting id="uk_proxy_port" type="number" label="30030" default="8080" />
       <setting id="uk_proxy_username" type="text" label="30035" default="" />
       <setting id="uk_proxy_password"  type="text" option="hidden" label="30036" default="" />
       <setting type="lsep" label="30049" />
       <setting id="uzg_cache" type="select" label="30051" default="5" values="0|1|2|3|4|5|6|7|8|9|10|15|20|25|30" />
       <setting id="uzg_cache_path" type="folder" label="30050" default="" enable="!eq(-1,0)"/>
    </category>
    
    <category label="30034">
       <setting type="lsep" label="30034" />
       <setting label="30011" type="text" enable="false"/>
       <setting id="background_channels" type="image" label="30032" default="xot_streaming_low.jpg" />
       <setting id="background_programs" type="image" label="30033" default="xot_globe_low.jpg" />
    </category>
</settings>